name: STREAMLINK LIVE

# Controls when the action will run. 
on:
  schedule:
    - cron: "*/41 * * * *"

  
  
  pull_request:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository using a token
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          ref: ${{github.ref}}
          token: ${{secrets.GITHUB_TOKEN}}
      
      # Configure Git
      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      
      # Installing yt-dlp
      - name: Install yt-dlp
        run: |
          wget https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -O /usr/local/bin/yt-dlp
          chmod a+rx /usr/local/bin/yt-dlp
      
      # Installing youtube-dl
      - name: Install youtube-dl
        run: |
          wget https://yt-dl.org/downloads/latest/youtube-dl -O /usr/local/bin/youtube-dl
          chmod a+rx /usr/local/bin/youtube-dl    
          youtube-dl -U
      
      # Installing streamlink
      - name: Install streamlink
        run: |
          pip install --user --upgrade streamlink   
          
      # Installing dependencies
      - name: Install dependencies
        run: |
          pip install youtube-dl 
          pip install requests 
          pip install beautifulsoup4 
          pip install fastapi 
          pip install uvicorn 
          pip install schedule
          pip install selenium
          pip install datetime
          pip install pytz
          pip install google-api-python-client
      

      - name: Install JQ
        run: sudo apt-get install -y jq
      
        
      
      - name: Get LISTA4.m3u8
        run: |
         touch ./lista2str.m3u
         sudo cat >./lista2str.m3u <<EOL      
         
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-title https://www.youtube.com/watch?v=WRzeEy-OSZA)" group-title="Reality Show'S Live" group-title="CNN's" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/watch?v=WRzeEy-OSZA)", YOUTUBEAOVIVO - 
         $(yt-dlp -f best -g https://www.youtube.com/watch?v=WRzeEy-OSZA)
         $(yt-dlp --url https://www.youtube.com/watch?v=WRzeEy-OSZA)
         
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-title https://www.youtube.com/watch?v=EeQnkxY9QFs)" group-title="Reality Show'S Live" group-title="CNN's" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/watch?v=EeQnkxY9QFs)", YOUTUBEAOVIVO - $(yt-dlp --get-title https://www.youtube.com/watch?v=EeQnkxY9QFs)
         $(streamlink --url --default-stream  --stream-url  https://www.youtube.com/@TelemundoEntretenimiento/live best)
         
         
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 group-title="NEWS WORLD" tvg-logo="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/v1636660681/rockcms/2021-11/NNN-social-default-72d67e.jpg",NBC NEWS NOW
         $(streamlink --url --default-stream  --stream-url https://www.nbcnews.com/now?icid=now_hp_header best)
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 group-title="NEWS WORLD",CBS NEWS
         $(streamlink --url --default-stream  --stream-url https://www.cbsnews.com/live/ best)
        
               
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-id https://vimeo.com/user169948294)" tvg-logo="$(yt-dlp --get-thumbnail https://vimeo.com/user169948294)",$(yt-dlp --get-title https://vimeo.com/user169948294)
         $(yt-dlp --get-url https://vimeo.com/user169948294)
        
         
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-title https://www.youtube.com/c/GuilhermeMartinsTV/videos)" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/c/GuilhermeMartinsTV/videos)",$(yt-dlp --get-title https://www.youtube.com/c/GuilhermeMartinsTV/videos)
         $(yt-dlp --get-url https://www.youtube.com/c/GuilhermeMartinsTV/videos)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-id https://www.youtube.com/watch?v=QIWqz8uv8bI&list=PLsHxUeTP_Smd9YF2Lxnubd50Rmk3T4eOk)" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/watch?v=QIWqz8uv8bI&list=PLsHxUeTP_Smd9YF2Lxnubd50Rmk3T4eOk)",$(yt-dlp --get-title https://www.youtube.com/watch?v=QIWqz8uv8bI&list=PLsHxUeTP_Smd9YF2Lxnubd50Rmk3T4eOk)
         $(yt-dlp --get-url https://www.youtube.com/watch?v=QIWqz8uv8bI&list=PLsHxUeTP_Smd9YF2Lxnubd50Rmk3T4eOk)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-id https://www.youtube.com/watch?v=ST6aJt7btvQ)" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/watch?v=ST6aJt7btvQ)",$(yt-dlp --get-title https://www.youtube.com/watch?v=ST6aJt7btvQ)
         $(yt-dlp --get-url  https://www.youtube.com/watch?v=ST6aJt7btvQ)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(youtube-dl --get-id https://www.dailymotion.com/video/x82pp99)" tvg-logo="$(youtube-dl --get-thumbnail https://www.dailymotion.com/video/x82pp99)",$(youtube-dl -e -C https://www.dailymotion.com/video/x82pp99) TV BRASIL
         $(streamlink --url --default-stream  --stream-url  https://www.dailymotion.com/video/x82pp99 best)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(youtube-dl --get-id https://www.dailymotion.com/video/x8a60g5)" tvg-logo="$(youtube-dl --get-thumbnail https://www.dailymotion.com/video/x8a60g5)",$(youtube-dl -e -C https://www.dailymotion.com/video/x8a60g5) TV BRASIL
         $(streamlink --url --default-stream  --stream-url  https://www.dailymotion.com/video/x8a60g5 best)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(youtube-dl --get-id https://www.dailymotion.com/video/x8abdvf)" tvg-logo="$(youtube-dl --get-thumbnail https://www.dailymotion.com/video/x8abdvf)",$(youtube-dl -e -C https://www.dailymotion.com/video/x8abdvf) TV BRASIL
         $(streamlink --url --default-stream  --stream-url  https://www.dailymotion.com/video/x8abdvf best)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(youtube-dl --get-id https://www.dailymotion.com/video/x5z1cje)" tvg-logo="$(youtube-dl --get-thumbnail https://www.dailymotion.com/video/x5z1cje)",$(youtube-dl -e -C https://www.dailymotion.com/video/x5z1cje)
         $(streamlink --url --default-stream  --stream-url  https://www.dailymotion.com/video/x5z1cje best)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtp1hd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP1.png",RTP 1
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtp1 best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtp2hd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP2.png",RTP 2
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtp2 best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtp3hd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP3.png",RTP 3
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtp3 best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="RTPInternacional.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP-Internacional.png",RTP Internacional
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtpinternacional best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtpmem.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP-Memória.png",RTP Memória
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtpmemoria best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtpmad.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP-Madeira.png",RTP Madeira
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtpmadeira best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtpacorhd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP-Açores.png",RTP Açores
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtpacores best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="rtpaf.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/RTP-África.png",RTP África 
         $(streamlink --url --default-stream  --stream-url  https://www.rtp.pt/play/direto/rtpafrica best)
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-title https://www.youtube.com/@CNNbrasil/live)" group-title="NEWS WORLD" group-title="CNN's" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/@CNNbrasil/live)", YOUTUBEAOVIVO - $(yt-dlp --get-title https://www.youtube.com/@CNNbrasil/live)
         $(streamlink --url --default-stream  --stream-url https://www.youtube.com/@CNNbrasil/live best)
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="$(yt-dlp --get-title https://www.youtube.com/@cnnturk/live)" group-title="NEWS WORLD" group-title="CNN's" tvg-logo="$(yt-dlp --get-thumbnail https://www.youtube.com/@cnnturk/live)", YOUTUBEAOVIVO - $(yt-dlp --get-title https://www.youtube.com/@cnnturk/live)
         $(streamlink --url --default-stream  --stream-url  https://www.youtube.com/@cnnturk/live best)
         
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="cnnpthd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/CNN-Portugal.png",CNN Portugal
         $(streamlink --url --default-stream  --stream-url https://tviplayer.iol.pt/direto/CNN best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="tvihd.tv.vodafone.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/TVI.png",TVI
         $(streamlink --hls-segment-stream-data --hls-live-edge 5 --hls-segment-threads 10 --ffmpeg-ffmpeg /usr/local/bin/ffmpeg --hls-live-edge 6 --stream-url  https://tviplayer.iol.pt/direto/TVI best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="TVIFIC.meo.pt" tvg-logo="https://raw.githubusercontent.com/LITUATUI/M3UPT/main/logos/TVI-Ficção.png",TVI Ficção
         $(streamlink --url --default-stream  --stream-url  https://tviplayer.iol.pt/direto/TVI_FICCAO best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1,
         $(streamlink --url --default-stream  --stream-url  https://tviplayer.iol.pt/direto/TVI_AFRICA best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-id="TVIInt.pt" tvg-logo="https://github.com/LITUATUI/M3UPT/raw/main/logos/TVI-Internacional.png",TVI Internacional
         $(streamlink --url --default-stream  --stream-url  https://tviplayer.iol.pt/direto/TVI_INTERNACIONAL best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_saminited-1280x720.jpg",MINAMALUCA
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/saminited best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_ctv_classic-1280x720.jpg",CTVCLASSIC
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/ctv_classic best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_weathernewslive-1280x720.jpg",WEATHERNEWSLIVE
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/weathernewslive best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_livenowfox-1280x720.jpg",LIVENOWFOX
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/livenowfox best)
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_teleiblea-1280x720.jpg",TELEIBLEA ITALIANA
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/teleiblea best)
        
         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1 tvg-logo="https://static-cdn.jtvnw.net/previews-ttv/live_user_pularitv-1280x720.jpg",PULARITV
         $(streamlink --url --default-stream  --stream-url  https://www.twitch.tv/pularitv best)
        


         #EXTM3U
         #EXT-X-VERSION:3
         #EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=2560000
         #EXTINF:-1,TV MEIO NORTE
         $(streamlink --json https://livestream.com/accounts/3332377 best | jq -r '.streams[0].url')

        
         
         
      
      - name: Add Changes to Git
        run: |
          git add -A
          ls -la 
          
      # Commit and Push changes
      - name: Commit & Push
        run: |
          git commit -m "links atualizados"
          git push
