# This is a basic workflow to help you get started with Actions

name: VEJA

# Controls when the action will run. 
on:
  schedule:
    - cron: '*/30 * * * *'

    
  pull_request:
    branches:
      - main
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      #- name: Run a one-line script
      #  run: echo testing!

      # Runs a set of commands using the runners shell 
      - name: Config
        run: |
          git config --global user.email "vijayelectro2002@gmail.com"
          git config --global user.name "vijay6672"
      - name: Install streamlink
        run: |
          pip install --user --upgrade streamlink   
          
      # Installing dependencies
      - name: Install dependencies
        run: |
          pip install youtube-dl 
          pip install requests 
          pip install beautifulsoup4 
          pip install fastapi 
          pip install uvicorn 
          pip install schedule
          pip install selenium
          pip install datetime
          pip install pytz
          pip install google-api-python-client
          
          
      - name: execute py 
        run: python STR2.py 
        
        
      - name: Git Add
        run: |
          git add -A
          ls -la
      - name: Commit and Push
        run: |
          git commit -m "Updated links"
          git push
